<div id="contato" class="box-contato">
  <div class="content-section">


  <h1 class="title-section">Entre em contato comigo!</h1>
  <div class="container contato-container">
    <ul class="contato-meios">
      <li class="contato" *ngFor="let contato of contatos">
        <img [src]="'./assets/icons/' + contato.icon" [alt]="'Ícone ' + contato.tipo">
        <div class="contato-texto">
          <h4>{{ contato.tipo }}</h4>
          <a [href]="contato.link" target="_blank">{{ contato.numero }}</a>
        </div>
      </li>
    </ul>
  </div>

</div>
</div>
