<div id="about" class="layout-container">
  <div class="content-container">
    <h2 class="title-container">Sobre Mim</h2>

    <div class="content-about">
      <img class="img-about" src="/assets/foto.jpg" alt="foto Dilton" />
      <p class="text-about">
        Sou engenheiro da computação formado pela UFPA e atualmente atuo como desenvolvedor(trainee) no time da SEFA-Pa. Estou dedicado a aprimorar minhas habilidades e conhecimentos,
        focando especialmente em conceitos de front-end (Angular), Flutter e back-end (Java).
        <br />
        <br />
        Sou um profissional proativo e responsável, sempre em busca de desafios
        e oportunidades de crescimento. Além das minhas habilidades técnicas,
        valorizo profundamente as relações interpessoais. Sou comunicativo,
        possuo facilidade em liderar e cultivo um ambiente de colaboração
        positiva. Estou aberto a novos projetos, colaborações e pronto para
        contribuir com minha expertise.
      </p>
    </div>
  </div>
</div>
