<div id="about" class="layout-container">
  <div class="content-container">
    <h2 class="title-container">Sobre Mim</h2>

    <div class="content-about">
      <img class="img-about" src="/assets/foto.jpg" alt="foto Dilton" />
      <p class="text-about">
        Sou Engenheiro da Computação formado pela UFPA e atuo como Desenvolvedor na SEFA-PA. Trabalho no desenvolvimento de aplicações web e APIs, sempre buscando criar soluções eficientes e escaláveis.
        <br /><br />
        Minha experiência inclui desenvolvimento full stack, com foco principal em Java (Spring Boot), Angular e integração com bancos de dados SQL. Além disso, tenho vivência com aplicações mobile e arquitetura de software.
        <br /><br />
        Sou um profissional proativo e comprometido, que valoriza boas práticas de desenvolvimento e colaboração em equipe. Além da parte técnica, me destaco por boa comunicação e mentalidade ágil, sempre buscando aprender e contribuir para o crescimento do time.
        <br /><br />
        Atualmente, estou aprimorando minhas habilidades e desenvolvendo projetos pessoais para consolidar meu conhecimento. Aberto a novas oportunidades e desafios! Vamos conversar?
      </p>

    </div>
  </div>
</div>
