.layout-container {
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 500px;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1500px;
  justify-content: space-around;

}

.content-about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: 50px 0px;
}

.text-about {
  display: flex;
  width: 70%;
  margin: 0px;
  padding: 10px;
  text-align: start;
}

.img-about {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--text-white);
}

/* mobile */

@media (max-width: 640px) {
  .content-container {
    width: 100%;
    padding: 0 16px;
  }

  .content-about{
    flex-wrap: wrap;
  }

  .text-about {
    width: auto;
  }
}
