<div id="about" class="layout-container">
  <div class="content-container">

    <img class="img-about"  src="/assets/foto.jpg" alt="foto Dilton">
    <p class="text-about">Olá! Sou Dilton Vilhena, um Desenvolvedor Trainee faz parte do time da SEFA-Pa,
      empenhado em aprimorar minhas habilidades e conhecimentos nas áreas de desenvolvimento, estou estudando conceitos sobre flutter,
      back-end (Java) e front-end (Angular).
      <br>
      <br>
      Sou um profissional proativo e responsável, que busca constantemente desafios e oportunidades de crescimento.
      Estou aberto a colaborações, projetos e aprendizado contínuo nesta jornada tecnológica.</p>
  </div>
</div>
