.menu-layout{
  background-color: var(--background-site);
  color:  var(--text-white);
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}

.menu-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  margin: 10px 20px;
  text-decoration: none;
}

.menu-mobile{
  display: none;
}


/* mobile */

@media (max-width:640px) {

  .menu-mobile{
    display: flex;
    background-color: var(--background-site);
    color:  var(--color-text);
  }

  .menu{
    display: none;
  }

  .btn-menu-mobile mat-icon{
    font-size: 30px;
    width: auto;
    height: auto;
    margin: 10px;
  }

}
