.menu-layout{
  background-color: #3498db;
  color:  #ffffff;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}

.menu-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  margin: 10px 20px;
  text-decoration: none;
}

.menu-mobile{
  display: none;
}


/* mobile */

@media (max-width:640px) {


  .menu-mobile{
    display: flex;
    background-color: #3498db;
    color:  #ffffff;
  }

  .btn-menu-mobile{
    font-size: 20px;
  }


  .menu{
    display: none;
  }

}
