<section id="projects" class="section">
  <div class="content-section">
    <h1 class="title-section">Projetos</h1>

    <div class="container-projects">


      <!-- libras-kids -->
      <div class="card-project">
        <img
          class="img-card"
          src="/assets/app-libras-kids.png"
          alt="logo app libras kids"
        />
        <h2 class="title-card">Libras Kids - app</h2>
        <p class="description-card">
          desenvolvido para o ensino de Libras para pessoas com deficiência
          auditiva
        </p>

        <div class="social-icons">
          <a
            href="https://github.com/diltonvilhena/Libras-Kids-APP"
            target="_blank"
            ><img class="logo-git" src="/assets/github.png" alt="logo github"
          /></a>
          <a href="" target="_blank"
            ><img
              class="logo-youtube"
              src="/assets/youtube.png"
              alt="logo youtube"
          /></a>
        </div>
      </div>


         <!-- libras-kids -->
         <!-- <div class="card-project">
          <img
            class="img-card"
            src="/assets/"
            alt="logo "
          />
          <h2 class="title-card">Nome do Projeto</h2>
          <p class="description-card">
            descrição do app
          </p>

          <div class="social-icons">
            <a
              href=""
              target="_blank"
              ><img class="logo-git" src="/assets/github.png" alt="logo github"
            /></a>
            <a href="" target="_blank"
              ><img
                class="logo-youtube"
                src="/assets/youtube.png"
                alt="logo youtube"
            /></a>
          </div>
        </div> -->

    </div>


  </div>
</section>
