.box-content-container{
  width: 80%;
  max-width: 1500px;
}

.container-skills {
  display: flex;
  height: auto;
  min-height: 500px;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-site);
  color: var(--background-header);
  margin-top: 20px;
}

.content-container {
  width: 100%;
  max-width: 1500px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 120px;
  align-items: center;
  row-gap: 20px;
}

.skill-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-cards:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.skill-cards h3 {
  margin-top: 10px;
  color: var(--background-header);
  font-size: 1.2rem;
}

.img-skills {
  width: 70px;
  height: 70px;
  margin: 5px;
  object-fit: contain;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   row-gap: 10px;
   column-gap: 10px;
  }

  .img-skills {
    width: 80px; /* Aumenta o tamanho da imagem no mobile */
    height: 80px;
  }

  .skill-cards h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .img-skills {
    width: 80px; /* Aumenta ainda mais no celular pequeno */
    height: 80px;
  }
}
