<div id="main" class="layout-container">
  <div class="content-container">
    <section class="text-title">
      <h1>Desenvolvedor Web & Mobile</h1>
    </section>
    <section class="social-media">
      <a href="https://www.linkedin.com/in/diltonvilhena/" target="_blank"><img class="icons-social" src="/assets/linkedin.png" alt="ícone linkedin"></a>
      <a href="https://github.com/diltonvilhena" target="_blank"><img class="icons-social" src="/assets/github.png" alt="Ícone Github"></a>
      <a href="https://www.youtube.com/channel/UCu-oLXHUcrHI1F53FkRZluw" target="_blank"><img class="icons-social" src="/assets/youtube.png" alt="Ícone Youtube"></a>
    </section>
  </div>
</div>
