.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  justify-content: center;
  background-color:var(--background-site);
  text-align: center;
  min-height: 400px;
}

.content-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 90%;
  justify-content: center;
}


.social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icons-social {
  width: 40px;
  height: 40px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.icons-social:hover {
  transform: scale(1.2);
  opacity: 0.8;
}


.text-title {
  margin: 10px 16px;
  text-align: center;
}

h1,p{
  margin: 0px;
  color: var(--background-header);
}

