.layout-container {
  display: flex;
  width: auto;
  height: 600px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: aquamarine;
}

.content-container{
  display: flex;
  width: 80%;
  justify-content: center;
}

.text-title {
  margin: 10px 16px;
  text-align: center;
}

h1,p{
  margin: 0px;
}

