.layout-container {
  display: flex;
  width: auto;
  height: 500px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
}

.content-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icons-social{
  width: 35px;
  height: 35px;
  margin: 10px;
}

.text-title {
  margin: 10px 16px;
  text-align: center;
}

h1,p{
  margin: 0px;
  color: #2c3e50;
}

