/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto;
  color:var(--background-header)
}

:root {
  --background-header: #2c3e50;
  --background-site: #a4c2ee;
  --text-white: #ffffff;
  --text-black: #000000;

}

a {
  color: var(--text-white);
}

a:hover {
  color: var(--text-black);
  text-decoration: underline;
}
